# MAC
.DS_Store

# binary event and local as we don't care !
local
archives
auto

# Src
src/20-tools/emacs/emacs/
src/20-tools/inkscapslide/inkscapeslide/
src/20-tools/pdf2remarkable/reMarkableScripts
src/20-tools/imapnotify/node-imapnotify/
